<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">




    <util:map id="modulesMap">
        <entry key="directory" value-ref="DirectoryAnalysis"/>
        <entry key="text" value-ref="TextFileAnalysis"/>
        <entry key="image" value-ref="ImageAnalysis"/>
        <entry key="music" value-ref="MusicAnalysis"/>

    </util:map>


    <bean id="AnalysisApplication" class="com.analysis.AnalysisApplication" >
        <constructor-arg ref="modulesMap"/>
    </bean>

    <bean id="DirectoryAnalysis" class="com.analysis.modules.DirectoryAnalysis" scope="prototype">
    </bean>
    <bean id="TextFileAnalysis" class="com.analysis.modules.TextFileAnalysis" scope="prototype">
    </bean>
    <bean id="ImageAnalysis" class="com.analysis.modules.ImageAnalysis" scope="prototype">
    </bean>
    <bean id="MusicAnalysis" class="com.analysis.modules.MusicAnalysis" scope="prototype">
    </bean>

</beans>